{% extends 'base.html' %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
    <h2>Пожалуйста введите ваши учетные данные</h2>
    {% for category, message in  get_flashed_messages(with_categories=true) %}
	    <spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}
    <br/>
    <form action="" method="post">
	    {{ form.csrf_token }}
        <p>
            {{ form.username.label() }}
            {{ form.username() }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.password.label() }}
            {{ form.password() }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.remember.label() }}
            {{ form.remember() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}